<%- include('partials/header')-%>
<form class="form-signin" action="/" method="post">
  <img
    class="mt-4 mb-4"
    src="https://img.freepik.com/free-vector/yentafo-noodles-soup-bowl-tasty-asian-food-hand-drawn-cartoon-art-illustration_56104-1118.jpg?w=1480&t=st=1661681404~exp=1661682004~hmac=288a1f486ac5b438d372254919cad559714031b1204d3a1a2f92316d07847a3b"
    alt=""
    width="125"
    height="125"
  />
  <h1 class="h3 mb-3 font-weight-normal">Welcome to FoodOnClick</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input
    type="text"
    id="inputUsername"
    class="form-control"
    placeholder="Username"
    name="username"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    name="password"
    required
  />
  <%if(invalidMsg){%>
  <div class="alert alert-danger" role="alert">Invalid Login, please try again</div>
  <%}%>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign in
  </button>
  <p class="mt-5 mb-3 text-muted">&copy; UOW-FYP-2022</p>
</form>
<%- include('partials/footer')-%>
