<!DOCTYPE html>
<html>

<head>

    <title>Thankyou</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <link rel="stylesheet" href="thankyou.css">
</head>

<body>
  <div id="box"> 
      
        <h2 id="h01">YOUR ORDER HAS BEEN CONFIRMED <i class="fas fa-check-circle"></i> </h2>

    <h2 class="h2">Your order will deliever in 30 to 45 minutes <br> If you have any querry kindly call at <br> 6822 1212 </h2>
    <h2 class="h2"></h2>

   <img src="delieveryboy.gif" width="400px" height="250px"> 
   <p><em>Your order is on its way.</em></p>
     <br>
     <a href="../Menu/Menu.html">
      <button class="home">Menu</button>
    </a>
</div>   
</body>

</html>